.container{
    max-width: 1200px;
    margin: 0 auto;
}

.user{

    width: fit-content;
    padding: 20px;
    border: 2px solid rgb(0, 129, 243);
    border-radius: 5px;
}

.user h1{
    text-align: center;
}

.user input{
    margin-right: 10px;
}